* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: var(--container-size, 1200px);
  margin-inline: auto;
  padding-inline: var(--container-padding, 16px);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: calc((-1 * var(--row-gutter-x, 10px)) / 2);
  margin-top: calc(-1 * var(--row-gutter-y, 10px));
}

.row [class*="col-"] {
  margin-top: var(--row-gutter-y, 10px);
  padding-inline: calc(var(--row-gutter-x, 20px) / 2);
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}
