.styleHeader{
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/bf48ed0748c75a00aaa512bb/PA7BIF1x.jpg");
    padding: 16px 0px 32px 32px;
}
.contentOne{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}